{% load static %}
<div class="ptf-spacer" style=" --ptf-xxl: 5rem; --ptf-md: 5rem;"></div>
<!--Footer-->
                                        <footer class="ptf-footer ptf-footer--style-1">
                                            <div class="container-xxl">
                                                <div class="ptf-footer__top">
                                                    <div class="row">
                                                        <div class="col-12 col-xl-6">
                                                            <!--Animated Block-->
                                                            <div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
                                                                <div class="ptf-footer-heading has-black-color" style="max-width: 37.5rem;">Elevate Your Business to New Heights with <a class="has-accent-1 text-decoration-underline" href="https:whatznot.com" target="_blank">Whatznot </a>,<br>The Best <a class="has-accent-1 ">Website</a> & <a class="has-accent-1 "> Mobile App </a>Design and Development Company.</div>
                                                                <div class="ptf-footer-heading has-black-color">Start by <a class="has-accent-1 text-decoration-underline" href="https://wa.me/+919735151074" target="_blank">Saying Hi!</a></div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-md-6 col-xl-3">
                                                            <!--Animated Block-->
                                                            <div class="ptf-animated-block" data-aos="fade" data-aos-delay="100">
                                                                <div class="ptf-widget ptf-widget-links has-black-color">
                                                                    <h4 class="ptf-widget-title">Links</h4>
                                                                    <ul>
                                                                        <li><a href="{% url 'UIUX' %}">UI & UX Designing</a></li>
                                                                        <li><a href="{% url 'webservices' %}">Website Design and Development</a></li>
                                                                        <li><a href="{% url 'mobileservices' %}">Mobile App Design and Development</a></li>
                                                                        <li><a href="{% url 'portfolios' %}">Portfolios</a></li>
                                                                        <li><a href="{% url 'why' %}">Why Choice us </a></li>
                                                                        <li><a href="{% url 'about' %}">About us</a></li>
                                                                        <li><a href="{% url 'blogs' %}">Blogs</a></li>
                                                                        <li><a href="{% url 'faqs' %}">F&Qs</a></li>
                                                                   </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-md-6 col-xl-3">
                                                            <!--Animated Block-->
                                                            <div class="ptf-animated-block" data-aos="fade" data-aos-delay="200">
                                                                <div class="ptf-widget ptf-widget-text">
                                                                    <h4 class="ptf-widget-title">Contact</h4>
                                                                    <p class="fz-24">Chakdaha, West Bengal , INDIA 741222 </p><a class="fz-40 has-black-color" href="mailto:hello@whatznot.com">hello@whatznot.com</a>
                                                                </div>
                                                                <div class="ptf-widget ptf-widget-links has-black-color">
                                                                    <ul>
                                                                    <li><a href="{% url 'terms' %}">Term & Conditions</a></li>
                                                                        <li><a href="{% url 'privacy' %}">Privacy Policy</a></li>
                                                                        <li><a href="{% url 'refund' %}">Refund Policy</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="ptf-footer__bottom">
                                                    <div class="row align-items-center">
                                                        <div class="col-12 col-md"><a href="/"><img src="{% static 'assets/img/root/logo-dark.png'%} " alt="" loading="lazy"></a></div>
                                                        <div class="col-12 col-md">
                                                            <p class="ptf-footer-copyright has-black-color">© 2023 <span>Whatznot Technology</span>. All Rights Reserved.</p>
                                                        </div>
                                                        <div class="col-12 col-md d-none d-xl-block"></div>
                                                        <div class="col-12 col-lg">
                                                            <div class="ptf-footer-socials has-black-color">
                                                                <!--Social Icon--><a class="ptf-social-icon ptf-social-icon--style-3 twitter" href="https://www.freelancer.com/u/whatznot" target="_blank"><i class="socicon-freelancer"></i></a>
                                                                <!--Social Icon--><a class="ptf-social-icon ptf-social-icon--style-3 twitter" href="https://www.upwork.com/freelancers/whatznot" target="_blank"><i class="socicon-upwork"></i></a>
                                                                <!--Social Icon--><a class="ptf-social-icon ptf-social-icon--style-3 facebook" href="https://www.facebook.com/whatznot" target="_blank"><i class="socicon-facebook"></i></a>
                                                                <!--Social Icon--><a class="ptf-social-icon ptf-social-icon--style-3 instagram" href="https://www.instagram.com/whatznot/" target="_blank"><i class="socicon-instagram"></i></a>
                                                                <!--Social Icon--><a class="ptf-social-icon ptf-social-icon--style-3 pinterest" href="https://www.linkedin.com/company/whatznot" target="_blank"><i class="socicon-linkedin"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </footer>
                                        </div>


</body>

</html>