{% load static %}
<div class="ptf-spacer" style=" --ptf-xxl: 5rem; --ptf-md: 5rem;"></div>

        <section>

                <div class="container-xxl">
                    <div class="row">
                        <div class="col-lg-4">
                            <!--Animated Block-->
                            <div class="ptf-animated-block aos-init aos-animate" data-aos="fade" data-aos-delay="0">
                                <h2 class="h1 large-heading">Connect with Us<br> Anywhere</h2>
                            </div>
                            <!--Spacer-->
                            <div class="ptf-spacer" style=" --ptf-lg: 3.75rem;"></div>
                        </div>
                        <div class="col-lg-8">
                            <!--Rewards List-->
                            <ul class="ptf-rewards-list ptf-rewards-list--small" style="--ptf-border-width: 2px; --ptf-border-color: var(--ptf-color-black);">
                                <li class="ptf-rewards-item aos-init aos-animate" data-aos="fade" data-aos-delay="0">
                                    <div class="ptf-rewards-item__date">2017
                                    </div>
                                    <div class="ptf-rewards-item__logo"><img src="{% static 'assets/img/root/rewards/logo-4.png'%} " alt="" loading="lazy"></div>
                                    <div class="ptf-rewards-item__content">
                                        <div class="ptf-rewards-project">
                                            <div class="ptf-rewards-project__content">
                                                <h5><a href="https://www.freelancer.com/u/whatznot">Freelancer</a>
                                                </h5><span>You can Find or Hire us on Freelancer with over 101 Five-Star Reviews.</span>
                                            </div>
                                            <div class="ptf-rewards-project__link"><a class="ptf-link-with-arrow text-uppercase fz-14" href="https://www.freelancer.com/u/whatznot">See project</a></div>
                                        </div>

                                    </div>
                                </li>
                                <li class="ptf-rewards-item aos-init" data-aos="fade" data-aos-delay="100">
                                    <div class="ptf-rewards-item__date">2020
                                    </div>
                                    <div class="ptf-rewards-item__logo"><img src="{% static 'assets/img/root/rewards/logo-2.png'%} " alt="" loading="lazy"></div>
                                    <div class="ptf-rewards-item__content">
                                        <div class="ptf-rewards-project">
                                            <div class="ptf-rewards-project__content">
                                                <h5><a href="https://www.upwork.com/freelancers/whatznot">UpWork</a>
                                                </h5><span>We're now on Upwork, so feel free to hire us there!</span>
                                            </div>
                                            <div class="ptf-rewards-project__link"><a class="ptf-link-with-arrow text-uppercase fz-14" href="https://www.upwork.com/freelancers/whatznot">See project</a></div>
                                        </div>
                                    </div>
                                </li>
                                <li class="ptf-rewards-item aos-init" data-aos="fade" data-aos-delay="100">
                                    <div class="ptf-rewards-item__date">2020
                                    </div>
                                    <div class="ptf-rewards-item__logo"><img src="{% static 'assets/img/root/rewards/logo-3.png'%} " alt="" loading="lazy"></div>
                                    <div class="ptf-rewards-item__content">
                                        <div class="ptf-rewards-project">
                                            <div class="ptf-rewards-project__content">
                                                <h5><a href="https://www.facebook.com/whatznot">Facebook</a>
                                                </h5><span>We have more than 1500 followers on Facebook. Join us today to get tech updates and hire us directly</span>
                                            </div>
                                            <div class="ptf-rewards-project__link"><a class="ptf-link-with-arrow text-uppercase fz-14" href="https://www.facebook.com/whatznot">See project</a></div>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                     <!--Spacer-->
                <div class="ptf-spacer" style=" --ptf-xxl: 5rem; --ptf-md: 5rem;"></div>
                </div>
            </section>