{% load static %}

<div class="ptf-spacer" style="--ptf-xxl: 5rem; --ptf-md: 5rem;"></div>

<main class="ptf-main">
    <article class="ptf-page ptf-page--team">
        <section>
            <!-- Spacer -->
            <div class="ptf-spacer" style="--ptf-xxl: 10rem; --ptf-md: 5rem;"></div>
            <div class="container-xxl">
                <div class="row">
                    <div class="col-xl-10">
                        <!-- Animated Block -->
                        <div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
                            <h1 class="large-heading">The face of Whatznot Technology</h1>
                            <!-- Spacer -->
                            <div class="ptf-spacer" style="--ptf-xxl: 2.5rem;"></div>
                            <p class="fz-24"><strong><em>Meet the brilliant minds behind the scenes:</em></strong><br> a crew of innovators, happiness cultivators, and masters of making the impossible possible.</p>

                        </div>
                    </div>
                </div>
            </div>
            <!-- Spacer -->
            <div class="ptf-spacer" style="--ptf-xxl: 6.25rem; --ptf-md: 3.125rem;"></div>
        </section>
        <section>
            <div class="container-xxl">
                <div class="ptf-team-member-grid">
                    <!-- For loop to iterate through team members -->
                    {% for team_member in teamMember %}
                    <div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
                        <!-- Team Member -->
                        <div class="ptf-team-member">
                            <div class="ptf-team-member__avatar">
                                <div class="shadow-effect"></div>
                                <a href="#"><img src="{{ team_member.image.url }}" alt="{{ team_member.name }}" loading="lazy"></a>
                            </div>
                            <div class="ptf-team-member__content">
                                <h6 class="ptf-team-member__name"><a href="#">{{ team_member.name }}</a></h6>
                                <p class="ptf-team-member__function">{{ team_member.designation }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <!-- End of team member loop -->
                </div>
                <!-- Spacer -->
                <div class="ptf-spacer" style="--ptf-xxl: 10rem; --ptf-md: 5rem;"></div>
            </div>
        </section>
    </article>
</main>

<!-- Contact Form -->

