{% extends 'common/base.html' %}
{% load static %}



{% block title %} Contact Us | Whatznot Technology {% endblock title %}


{% block content %}

    <!--Main-->
    <main class="ptf-main">
        <article class="ptf-page ptf-page--home-studio">               
            
            <section>              
                <!--Spacer-->
                <div class="ptf-spacer" style=" --ptf-xxl: 5rem; --ptf-md: 5rem;"></div>
                <section>
                    <!--Spacer-->
                    <div class="ptf-spacer" style=" --ptf-xxl: 2rem; --ptf-md: 6.25rem;"></div>
                    <div class="container text-center">
                        <div class="d-inline-flex text-start">
                            <!--Animated Block-->
                            <div class="ptf-animated-block">
                                <div class="fz-30">Describe your project</div>
                                <!--Spacer-->
                                <div class="ptf-spacer" style=" --ptf-xxl: 4rem;"></div>
                                <div class="fz-130 fz-90--md has-black-color has-secondary-font fw-normal lh-1p1">
                                    <a class="ptf-filled-link" href="https://wa.me/919735151074" target="_blank">Message on WhatsApp</a>


                                </div>
                                <div class="fz-80 has-black-color"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" style="height:1em" viewBox="0 0 17 17">
                                        <path d="M16 .997V10h-1V2.703L4.683 13l-.707-.708L14.291 1.997H6.975v-1H16z"></path>
                                    </svg></div>
                            </div>
                        </div>
                    </div>
                    <!--Spacer-->
                    <div class="ptf-spacer" style=" --ptf-xxl: 3rem; --ptf-md: 5rem;"></div>
                </section>
            </section>       







{% include "common/c.html" %}
{% include "common/partner_site.html" %}

  {% endblock content %}