{% extends 'common/base.html' %}
{% load static %}



{% block title %} Services | Whatznot Technology {% endblock title %}


{% block content %}


    <!--Main-->
    <main class="ptf-main">
        <!--Single Post-->
        <article class="ptf-single-post">
            <section>
                <!--Spacer-->
                <div class="ptf-spacer" style=" --ptf-xxl: 10rem; --ptf-md: 5rem;"></div>
                <div class="container-xxl">
                    <div class="row">
                        <div class="col-lg-3">
                            <!--Animated Block-->
                            <div class="ptf-animated-block aos-init aos-animate" data-aos="fade" data-aos-delay="0">
                                <h1 class="large-heading">Our <br>Services</h1>
                                <!--Spacer-->
                                <div class="ptf-spacer" style=" --ptf-xxl: 2.5rem;"></div>
                                <p class="fz-18">We help ambitious businesses like yours generate more profits by building awareness, driving web traffic, connecting with customers and growing overall sales.</p>
                            </div>
                            <!--Spacer-->
                            <div class="ptf-spacer" style=" --ptf-lg: 4.375rem; --ptf-md: 2.1875rem;"></div>
                        </div>
                        <div class="col-lg-8 offset-lg-1">
                            <!--Animated Block-->
                            <div class="ptf-animated-block aos-init aos-animate" data-aos="fade" data-aos-delay="0">
                                <!--Services Box-->
                                <div class="ptf-service-box "><a class="ptf-service-box__link" href="service-detail.html"></a>
                                    <div class="ptf-service-box__icon"><i class="lnil lnil-cup"></i></div>
                                    <h5 class="ptf-service-box__title">Brand <br>Consultant</h5>
                                    <div class="ptf-service-box__content">
                                        <p>We build and activate brands throung cultural insight &amp; strategic vision.
                                        </p>
                                    </div>
                                    <div class="ptf-service-box__arrow"><i class="lnil lnil-chevron-right"></i></div>
                                </div>
                            </div>
                            <!--Animated Block-->
                            <div class="ptf-animated-block aos-init aos-animate" data-aos="fade" data-aos-delay="0">
                                <!--Services Box-->
                                <div class="ptf-service-box "><a class="ptf-service-box__link" href="service-detail.html"></a>
                                    <div class="ptf-service-box__icon"><i class="lnil lnil-website-rank"></i></div>
                                    <h5 class="ptf-service-box__title">UI/UX <br>Solution</h5>
                                    <div class="ptf-service-box__content">
                                        <p>We build and activate brands throung cultural insight &amp; strategic vision.
                                        </p>
                                    </div>
                                    <div class="ptf-service-box__arrow"><i class="lnil lnil-chevron-right"></i></div>
                                </div>
                            </div>
                            <!--Animated Block-->
                            <div class="ptf-animated-block aos-init aos-animate" data-aos="fade" data-aos-delay="0">
                                <!--Services Box-->
                                <div class="ptf-service-box "><a class="ptf-service-box__link" href="service-detail.html"></a>
                                    <div class="ptf-service-box__icon"><i class="lnil lnil-3d"></i></div>
                                    <h5 class="ptf-service-box__title">Packaging</h5>
                                    <div class="ptf-service-box__content">
                                        <p>We build and activate brands throung cultural insight &amp; strategic vision.
                                        </p>
                                    </div>
                                    <div class="ptf-service-box__arrow"><i class="lnil lnil-chevron-right"></i></div>
                                </div>
                            </div>
                            <!--Animated Block-->
                            <div class="ptf-animated-block aos-init aos-animate" data-aos="fade" data-aos-delay="0">
                                <!--Services Box-->
                                <div class="ptf-service-box "><a class="ptf-service-box__link" href="service-detail.html"></a>
                                    <div class="ptf-service-box__icon"><i class="lnil lnil-video-camera-alt-1"></i></div>
                                    <h5 class="ptf-service-box__title">Motion Video <br>&amp; TVC</h5>
                                    <div class="ptf-service-box__content">
                                        <p>We build and activate brands throung cultural insight &amp; strategic vision.
                                        </p>
                                    </div>
                                    <div class="ptf-service-box__arrow"><i class="lnil lnil-chevron-right"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Spacer-->
                <div class="ptf-spacer" style=" --ptf-xxl: 10rem; --ptf-md: 5rem;"></div>
            </section>


            <section>
                <!--Spacer-->
                <div class="ptf-spacer" style=" --ptf-xxl: 10rem; --ptf-md: 5rem;"></div>
                <div class="container-xxl">
                    <div class="row">
                        <div class="col-12">
                            <!--Animated Block-->
                            <div class="ptf-animated-block aos-init aos-animate" data-aos="fade" data-aos-delay="0">
                                <h2 class="h1 large-heading">Moonex’s Partners</h2>
                            </div>
                            <!--Spacer-->
                            <div class="ptf-spacer" style=" --ptf-xxl: 7.5rem; --ptf-md: 3.75rem;"></div>
                        </div>
                    </div>
                    <div class="row" style="--bs-gutter-y: 2rem;">
                        <div class="col-6 col-md-3 col-lg-2">
                            <!--Animated Block-->
                            <div class="ptf-animated-block aos-init" data-aos="fade" data-aos-delay="0">
                                <!--Partner Box-->
                                <div class="ptf-partner-box" style="--ptf-hover-background: #fcf8f4; --ptf-image-height: 85px;">
                                    <div class="ptf-partner-box__image"><img src="{% static 'assets/img/root/partners/image-1.png'%} " alt="Zeplin" loading="lazy"></div>
                                    <h6 class="ptf-partner-box__title">Zeplin
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-3 col-lg-2">
                            <!--Animated Block-->
                            <div class="ptf-animated-block aos-init" data-aos="fade" data-aos-delay="100">
                                <!--Partner Box-->
                                <div class="ptf-partner-box" style="--ptf-hover-background: #f3f7fc; --ptf-image-height: 78px;">
                                    <div class="ptf-partner-box__image"><img src="{% static 'assets/img/root/partners/image-2.png'%} " alt="Dropbox" loading="lazy"></div>
                                    <h6 class="ptf-partner-box__title">Dropbox
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-3 col-lg-2">
                            <!--Animated Block-->
                            <div class="ptf-animated-block aos-init" data-aos="fade" data-aos-delay="200">
                                <!--Partner Box-->
                                <div class="ptf-partner-box" style="--ptf-hover-background: #f9fcf3; --ptf-image-height: 90px;">
                                    <div class="ptf-partner-box__image"><img src="{% static 'assets/img/root/partners/image-3.png'%} " alt="Shopify" loading="lazy"></div>
                                    <h6 class="ptf-partner-box__title">Shopify
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-3 col-lg-2">
                            <!--Animated Block-->
                            <div class="ptf-animated-block aos-init" data-aos="fade" data-aos-delay="300">
                                <!--Partner Box-->
                                <div class="ptf-partner-box" style="--ptf-hover-background: #f9f9f9; --ptf-image-height: 90px;">
                                    <div class="ptf-partner-box__image"><img src="{% static 'assets/img/root/partners/image-4.png'%} " alt="Slack" loading="lazy"></div>
                                    <h6 class="ptf-partner-box__title">Slack
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-3 col-lg-2">
                            <!--Animated Block-->
                            <div class="ptf-animated-block aos-init" data-aos="fade" data-aos-delay="400">
                                <!--Partner Box-->
                                <div class="ptf-partner-box" style="--ptf-hover-background: #fdf4fb; --ptf-image-height: 62px;">
                                    <div class="ptf-partner-box__image"><img src="{% static 'assets/img/root/partners/image-5.png'%} " alt="WooCommerce" loading="lazy"></div>
                                    <h6 class="ptf-partner-box__title">WooCommerce
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-3 col-lg-2">
                            <!--Animated Block-->
                            <div class="ptf-animated-block aos-init" data-aos="fade" data-aos-delay="500">
                                <!--Partner Box-->
                                <div class="ptf-partner-box" style="--ptf-hover-background: #fdf4fb; --ptf-image-height: 77px;">
                                    <div class="ptf-partner-box__image"><img src="{% static 'assets/img/root/partners/image-6.png'%} " alt="InvisionApp" loading="lazy"></div>
                                    <h6 class="ptf-partner-box__title">InvisionApp
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>     
                    
                    <div class="ptf-spacer" style=" --ptf-xxl: 1.5rem; --ptf-md: 5rem;"></div>

                    <div class="row" style="--bs-gutter-y: 2rem;">
                        <div class="col-6 col-md-3 col-lg-2">
                            <!--Animated Block-->
                            <div class="ptf-animated-block aos-init" data-aos="fade" data-aos-delay="0">
                                <!--Partner Box-->
                                <div class="ptf-partner-box" style="--ptf-hover-background: #fcf8f4; --ptf-image-height: 85px;">
                                    <div class="ptf-partner-box__image"><img src="{% static 'assets/img/root/partners/image-1.png'%} " alt="Zeplin" loading="lazy"></div>
                                    <h6 class="ptf-partner-box__title">Zeplin
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-3 col-lg-2">
                            <!--Animated Block-->
                            <div class="ptf-animated-block aos-init" data-aos="fade" data-aos-delay="100">
                                <!--Partner Box-->
                                <div class="ptf-partner-box" style="--ptf-hover-background: #f3f7fc; --ptf-image-height: 78px;">
                                    <div class="ptf-partner-box__image"><img src="{% static 'assets/img/root/partners/image-2.png'%} " alt="Dropbox" loading="lazy"></div>
                                    <h6 class="ptf-partner-box__title">Dropbox
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-3 col-lg-2">
                            <!--Animated Block-->
                            <div class="ptf-animated-block aos-init" data-aos="fade" data-aos-delay="200">
                                <!--Partner Box-->
                                <div class="ptf-partner-box" style="--ptf-hover-background: #f9fcf3; --ptf-image-height: 90px;">
                                    <div class="ptf-partner-box__image"><img src="{% static 'assets/img/root/partners/image-3.png'%} " alt="Shopify" loading="lazy"></div>
                                    <h6 class="ptf-partner-box__title">Shopify
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-3 col-lg-2">
                            <!--Animated Block-->
                            <div class="ptf-animated-block aos-init" data-aos="fade" data-aos-delay="300">
                                <!--Partner Box-->
                                <div class="ptf-partner-box" style="--ptf-hover-background: #f9f9f9; --ptf-image-height: 90px;">
                                    <div class="ptf-partner-box__image"><img src="{% static 'assets/img/root/partners/image-4.png'%} " alt="Slack" loading="lazy"></div>
                                    <h6 class="ptf-partner-box__title">Slack
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-3 col-lg-2">
                            <!--Animated Block-->
                            <div class="ptf-animated-block aos-init" data-aos="fade" data-aos-delay="400">
                                <!--Partner Box-->
                                <div class="ptf-partner-box" style="--ptf-hover-background: #fdf4fb; --ptf-image-height: 62px;">
                                    <div class="ptf-partner-box__image"><img src="{% static 'assets/img/root/partners/image-5.png'%} " alt="WooCommerce" loading="lazy"></div>
                                    <h6 class="ptf-partner-box__title">WooCommerce
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-3 col-lg-2">
                            <!--Animated Block-->
                            <div class="ptf-animated-block aos-init" data-aos="fade" data-aos-delay="500">
                                <!--Partner Box-->
                                <div class="ptf-partner-box" style="--ptf-hover-background: #fdf4fb; --ptf-image-height: 77px;">
                                    <div class="ptf-partner-box__image"><img src="{% static 'assets/img/root/partners/image-6.png'%} " alt="InvisionApp" loading="lazy"></div>
                                    <h6 class="ptf-partner-box__title">InvisionApp
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div> 

                    <div class="ptf-spacer" style=" --ptf-xxl: 1.5rem; --ptf-md: 5rem;"></div>

                    <div class="row" style="--bs-gutter-y: 2rem;">
                        <div class="col-6 col-md-3 col-lg-2">
                            <!--Animated Block-->
                            <div class="ptf-animated-block aos-init" data-aos="fade" data-aos-delay="0">
                                <!--Partner Box-->
                                <div class="ptf-partner-box" style="--ptf-hover-background: #fcf8f4; --ptf-image-height: 85px;">
                                    <div class="ptf-partner-box__image"><img src="{% static 'assets/img/root/partners/image-1.png'%} " alt="Zeplin" loading="lazy"></div>
                                    <h6 class="ptf-partner-box__title">Zeplin
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-3 col-lg-2">
                            <!--Animated Block-->
                            <div class="ptf-animated-block aos-init" data-aos="fade" data-aos-delay="100">
                                <!--Partner Box-->
                                <div class="ptf-partner-box" style="--ptf-hover-background: #f3f7fc; --ptf-image-height: 78px;">
                                    <div class="ptf-partner-box__image"><img src="{% static 'assets/img/root/partners/image-2.png'%} " alt="Dropbox" loading="lazy"></div>
                                    <h6 class="ptf-partner-box__title">Dropbox
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-3 col-lg-2">
                            <!--Animated Block-->
                            <div class="ptf-animated-block aos-init" data-aos="fade" data-aos-delay="200">
                                <!--Partner Box-->
                                <div class="ptf-partner-box" style="--ptf-hover-background: #f9fcf3; --ptf-image-height: 90px;">
                                    <div class="ptf-partner-box__image"><img src="{% static 'assets/img/root/partners/image-3.png'%} " alt="Shopify" loading="lazy"></div>
                                    <h6 class="ptf-partner-box__title">Shopify
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-3 col-lg-2">
                            <!--Animated Block-->
                            <div class="ptf-animated-block aos-init" data-aos="fade" data-aos-delay="300">
                                <!--Partner Box-->
                                <div class="ptf-partner-box" style="--ptf-hover-background: #f9f9f9; --ptf-image-height: 90px;">
                                    <div class="ptf-partner-box__image"><img src="{% static 'assets/img/root/partners/image-4.png'%} " alt="Slack" loading="lazy"></div>
                                    <h6 class="ptf-partner-box__title">Slack
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-3 col-lg-2">
                            <!--Animated Block-->
                            <div class="ptf-animated-block aos-init" data-aos="fade" data-aos-delay="400">
                                <!--Partner Box-->
                                <div class="ptf-partner-box" style="--ptf-hover-background: #fdf4fb; --ptf-image-height: 62px;">
                                    <div class="ptf-partner-box__image"><img src="{% static 'assets/img/root/partners/image-5.png'%} " alt="WooCommerce" loading="lazy"></div>
                                    <h6 class="ptf-partner-box__title">WooCommerce
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-3 col-lg-2">
                            <!--Animated Block-->
                            <div class="ptf-animated-block aos-init" data-aos="fade" data-aos-delay="500">
                                <!--Partner Box-->
                                <div class="ptf-partner-box" style="--ptf-hover-background: #fdf4fb; --ptf-image-height: 77px;">
                                    <div class="ptf-partner-box__image"><img src="{% static 'assets/img/root/partners/image-6.png'%} " alt="InvisionApp" loading="lazy"></div>
                                    <h6 class="ptf-partner-box__title">InvisionApp
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div> 

               </div>                
            </section>


            <section>
                <!--Spacer-->
                <div class="ptf-spacer" style=" --ptf-xxl: 8.75rem; --ptf-md: 4.375rem;"></div>
                <div class="container">
                    <!--Animated Block-->
                    <div class="ptf-animated-block aos-init aos-animate" data-aos="fade" data-aos-delay="0">
                        <h2 class="h1 large-heading has-secondary-font fw-normal">Our Services</h2>
                    </div>
                    <!--Spacer-->
                    <div class="ptf-spacer" style=" --ptf-xxl: 1.875rem;"></div>
                    <!--Animated Block-->
                    <div class="ptf-animated-block aos-init" data-aos="fade" data-aos-delay="100">
                        <p class="fz-24" style="max-width: 42.5rem;">We help ambitious businesses ike yours generate more profits by building awareness, driving web traffic, etc.</p>
                    </div>
                    <!--Spacer-->
                    <div class="ptf-spacer" style=" --ptf-xxl: 5.625rem; --ptf-md: 2.8125rem;"></div>
                    <div class="row" style="--bs-gutter-y: 3.75rem;">
                        <div class="col-12 col-md-6 col-lg-4">
                            <!--Animated Block-->
                            <div class="ptf-animated-block aos-init" data-aos="fade" data-aos-delay="0">
                                <h6 class="fz-16 text-uppercase has-3-color fw-normal">Branding</h6>
                                <!--Spacer-->
                                <div class="ptf-spacer" style=" --ptf-xxl: 2.8125rem;"></div>
                                <!--Services List-->
                                <ul class="ptf-services-list ptf-services-list--style-2">
                                    <li><a href="service-detail.html">Brand Strategy<span></span></a></li>
                                    <li><a href="service-detail.html">Consulting<span></span></a></li>
                                    <li><a href="service-detail.html">Illustration<span></span></a></li>
                                    <li><a href="service-detail.html">Graphic Design<span></span></a></li>
                                    <li><a href="service-detail.html">Photography<span></span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <!--Animated Block-->
                            <div class="ptf-animated-block aos-init" data-aos="fade" data-aos-delay="100">
                                <h6 class="fz-16 text-uppercase has-3-color fw-normal">Interaction</h6>
                                <!--Spacer-->
                                <div class="ptf-spacer" style=" --ptf-xxl: 2.8125rem;"></div>
                                <!--Services List-->
                                <ul class="ptf-services-list ptf-services-list--style-2">
                                    <li><a href="service-detail.html">Mobile Design<span></span></a></li>
                                    <li><a href="service-detail.html">UI/UX Web Design<span></span></a></li>
                                    <li><a href="service-detail.html">Motion<span></span></a></li>
                                    <li><a href="service-detail.html">Animation<span></span></a></li>
                                    <li><a href="service-detail.html">System Management<span></span></a></li>
                                    <li><a href="service-detail.html">Hosting &amp; Domain<span></span></a></li>
                                    <li><a href="service-detail.html">CRM<span></span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <!--Animated Block-->
                            <div class="ptf-animated-block aos-init" data-aos="fade" data-aos-delay="200">
                                <h6 class="fz-16 text-uppercase has-3-color fw-normal">Social</h6>
                                <!--Spacer-->
                                <div class="ptf-spacer" style=" --ptf-xxl: 2.8125rem;"></div>
                                <!--Services List-->
                                <ul class="ptf-services-list ptf-services-list--style-2">
                                    <li><a href="service-detail.html">Marketing Consult<span></span></a></li>
                                    <li><a href="service-detail.html">Google Ads<span></span></a></li>
                                    <li><a href="service-detail.html">Facebook Ads<span></span></a></li>
                                    <li><a href="service-detail.html">Social Media<span></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Spacer-->
                <div class="ptf-spacer" style=" --ptf-xxl: 10rem; --ptf-md: 5rem;"></div>
            </section>

            <section>
                <div class="container">
                    <div class="ptf-animated-block">
                        <h1 class="fz-130 fz-90--md has-secondary-font fw-normal">We build top-notch solutions
                            for <span class="has-accent-1">brand, web</span> &amp; <span class="has-accent-1">mobile</span> application</h1>
                    </div>
                    <div class="ptf-spacer" style=" --ptf-xxl: 3.75rem;"></div>
                 
                    <section>
						<div class="container">
							<!--Divider-->
							<div class="ptf-divider" style="--ptf-color: var(--ptf-color-14); --ptf-height: 1px;"></div>
						</div>
					</section>
                </div>           
            </section>

            <main class="ptf-main">
                <article class="ptf-page ptf-page--contact">                          
                
                <section>
                        <!--Spacer-->
                        <div class="ptf-spacer" style=" --ptf-xxl:5rem; --ptf-md: 6.25rem;"></div>
                        <div class="container text-center">
                            <div class="d-inline-flex text-start">
                                <!--Animated Block-->
                                <div class="ptf-animated-block aos-init" data-aos="fade" data-aos-delay="0">
                                    <div class="fz-30">Describe your project</div>
                                    <!--Spacer-->
                                    <div class="ptf-spacer" style=" --ptf-xxl: 1.25rem;"></div>
                                    <div class="fz-130 fz-90--md has-black-color has-secondary-font fw-normal lh-1p1"><a class="ptf-filled-link" href="tell:+919735151074">Call Whatznot</a></div>
                                    <div class="fz-80 has-black-color"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" style="height:1em" viewBox="0 0 17 17">
                                            <path d="M16 .997V10h-1V2.703L4.683 13l-.707-.708L14.291 1.997H6.975v-1H16z"></path>
                                        </svg></div>
                                </div>
                            </div>
                        </div>
                        <!--Spacer-->
                        <div class="ptf-spacer" style=" --ptf-xxl: 10rem; --ptf-md: 5rem;"></div>
                    </section>
                               
                            


</article>
            </main>  

            <section>
                <div class="container">
                    <!--Divider-->
                    <div class="ptf-divider" style="--ptf-color: var(--ptf-color-14); --ptf-height: 1px;"></div>
                </div>
            </section>



          
            <section>
                <!--Spacer-->
                <div class="ptf-spacer" style=" --ptf-xxl: 3rem; --ptf-md: 3.4375rem;"></div>
                <div class="container-xxl">
                
                    <!--Spacer-->
                    <div class="ptf-spacer" style=" --ptf-xxl: 3.4375rem;"></div>
                    <!--Animated Block-->
                    <div class="ptf-animated-block aos-init aos-animate" data-aos="fade" data-aos-delay="0">
                        <!--Content Slider-->
                        <div class="ptf-content-slider swiper-container swiper-container-initialized swiper-container-horizontal swiper-container-autoheight" data-cursor="" data-navigation-anchor=".ptf-portfolio-slider" data-gap="60" data-loop="enable" data-speed="" data-autoplay="" data-autoplay-speed="" data-slides-centered="" data-slide-settings="{&quot;slides_to_show_tablet&quot;:2,&quot;slides_to_show&quot;:3}" data-free-mode="" data-slider-offset="" data-mousewheel="" style="cursor: grab;">
                            <div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(-1586px, 0px, 0px); height: 580px;"><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="3" style="width: 468.667px; margin-right: 60px;">
                                    <div>
                                        <!--Portfolio Item-->
                                        <article class="ptf-work ptf-work--style-1">
                                            <div class="ptf-work__media"><a class="ptf-work__link" href="portfolio-showcase-1.html"></a><img src="{% static 'assets/img/portfolio/work-4.png'%} " alt="" loading="lazy">
                                            </div>
                                            <div class="ptf-work__meta">
                                                <div class="ptf-work__category">Illustration
                                                </div>
                                                <h4 class="ptf-work__title"><a href="portfolio-showcase-1.html">Swiss Style Poster</a>
                                                </h4>
                                            </div>
                                        </article>
                                    </div>
                                </div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="4" style="width: 468.667px; margin-right: 60px;">
                                    <div>
                                        <!--Portfolio Item-->
                                        <article class="ptf-work ptf-work--style-1">
                                            <div class="ptf-work__media"><a class="ptf-work__link" href="portfolio-showcase-1.html"></a><img src="{% static 'assets/img/portfolio/work-5.png'%} " alt="" loading="lazy">
                                            </div>
                                            <div class="ptf-work__meta">
                                                <div class="ptf-work__category">UI/UX
                                                </div>
                                                <h4 class="ptf-work__title"><a href="portfolio-showcase-1.html">Liarch Architecture Firm</a>
                                                </h4>
                                            </div>
                                        </article>
                                    </div>
                                </div><div class="swiper-slide swiper-slide-duplicate swiper-slide-prev" data-swiper-slide-index="5" style="width: 468.667px; margin-right: 60px;">
                                    <div>
                                        <!--Portfolio Item-->
                                        <article class="ptf-work ptf-work--style-1">
                                            <div class="ptf-work__media"><a class="ptf-work__link" href="portfolio-showcase-1.html"></a><img src="{% static 'assets/img/portfolio/work-6.png'%} " alt="" loading="lazy">
                                            </div>
                                            <div class="ptf-work__meta">
                                                <div class="ptf-work__category">Branding, Packaging, Motion Video
                                                </div>
                                                <h4 class="ptf-work__title"><a href="portfolio-showcase-1.html">FG Print Brand</a>
                                                </h4>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                                <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="0" style="width: 468.667px; margin-right: 60px;">
                                    <div>
                                        <!--Portfolio Item-->
                                        <article class="ptf-work ptf-work--style-1">
                                            <div class="ptf-work__media"><a class="ptf-work__link" href="portfolio-showcase-1.html"></a><img src="{% static 'assets/img/portfolio/work-1.png'%} " alt="" loading="lazy">
                                            </div>
                                            <div class="ptf-work__meta">
                                                <div class="ptf-work__category">UI/UX
                                                </div>
                                                <h4 class="ptf-work__title"><a href="portfolio-showcase-1.html">Taskly Dashboard</a>
                                                </h4>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                                <div class="swiper-slide swiper-slide-next" data-swiper-slide-index="1" style="width: 468.667px; margin-right: 60px;">
                                    <div>
                                        <!--Portfolio Item-->
                                        <article class="ptf-work ptf-work--style-1">
                                            <div class="ptf-work__media"><a class="ptf-work__link" href="portfolio-showcase-1.html"></a><img src="{% static 'assets/img/portfolio/work-2.png'%} " alt="" loading="lazy">
                                            </div>
                                            <div class="ptf-work__meta">
                                                <div class="ptf-work__category">Product
                                                </div>
                                                <h4 class="ptf-work__title"><a href="portfolio-showcase-1.html">Film &amp; Art Festival</a>
                                                </h4>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                                <div class="swiper-slide" data-swiper-slide-index="2" style="width: 468.667px; margin-right: 60px;">
                                    <div>
                                        <!--Portfolio Item-->
                                        <article class="ptf-work ptf-work--style-1">
                                            <div class="ptf-work__media"><a class="ptf-work__link" href="portfolio-showcase-1.html"></a><img src="{% static 'assets/img/portfolio/work-3.png'%} " alt="" loading="lazy">
                                            </div>
                                            <div class="ptf-work__meta">
                                                <div class="ptf-work__category">Branding, Packaging
                                                </div>
                                                <h4 class="ptf-work__title"><a href="portfolio-showcase-1.html">Dark Wishky Wine</a>
                                                </h4>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                                <div class="swiper-slide" data-swiper-slide-index="3" style="width: 468.667px; margin-right: 60px;">
                                    <div>
                                        <!--Portfolio Item-->
                                        <article class="ptf-work ptf-work--style-1">
                                            <div class="ptf-work__media"><a class="ptf-work__link" href="portfolio-showcase-1.html"></a><img src="{% static 'assets/img/portfolio/work-4.png'%} " alt="" loading="lazy">
                                            </div>
                                            <div class="ptf-work__meta">
                                                <div class="ptf-work__category">Illustration
                                                </div>
                                                <h4 class="ptf-work__title"><a href="portfolio-showcase-1.html">Swiss Style Poster</a>
                                                </h4>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                                <div class="swiper-slide" data-swiper-slide-index="4" style="width: 468.667px; margin-right: 60px;">
                                    <div>
                                        <!--Portfolio Item-->
                                        <article class="ptf-work ptf-work--style-1">
                                            <div class="ptf-work__media"><a class="ptf-work__link" href="portfolio-showcase-1.html"></a><img src="{% static 'assets/img/portfolio/work-5.png'%} " alt="" loading="lazy">
                                            </div>
                                            <div class="ptf-work__meta">
                                                <div class="ptf-work__category">UI/UX
                                                </div>
                                                <h4 class="ptf-work__title"><a href="portfolio-showcase-1.html">Liarch Architecture Firm</a>
                                                </h4>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                                <div class="swiper-slide swiper-slide-duplicate-prev" data-swiper-slide-index="5" style="width: 468.667px; margin-right: 60px;">
                                    <div>
                                        <!--Portfolio Item-->
                                        <article class="ptf-work ptf-work--style-1">
                                            <div class="ptf-work__media"><a class="ptf-work__link" href="portfolio-showcase-1.html"></a><img src="{% static 'assets/img/portfolio/work-6.png'%} " alt="" loading="lazy">
                                            </div>
                                            <div class="ptf-work__meta">
                                                <div class="ptf-work__category">Branding, Packaging, Motion Video
                                                </div>
                                                <h4 class="ptf-work__title"><a href="portfolio-showcase-1.html">FG Print Brand</a>
                                                </h4>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" data-swiper-slide-index="0" style="width: 468.667px; margin-right: 60px;">
                                    <div>
                                        <!--Portfolio Item-->
                                        <article class="ptf-work ptf-work--style-1">
                                            <div class="ptf-work__media"><a class="ptf-work__link" href="portfolio-showcase-1.html"></a><img src="{% static 'assets/img/portfolio/work-1.png'%} " alt="" loading="lazy">
                                            </div>
                                            <div class="ptf-work__meta">
                                                <div class="ptf-work__category">UI/UX
                                                </div>
                                                <h4 class="ptf-work__title"><a href="portfolio-showcase-1.html">Taskly Dashboard</a>
                                                </h4>
                                            </div>
                                        </article>
                                    </div>
                                </div><div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-next" data-swiper-slide-index="1" style="width: 468.667px; margin-right: 60px;">
                                    <div>
                                        <!--Portfolio Item-->
                                        <article class="ptf-work ptf-work--style-1">
                                            <div class="ptf-work__media"><a class="ptf-work__link" href="portfolio-showcase-1.html"></a><img src="{% static 'assets/img/portfolio/work-2.png'%} " alt="" loading="lazy">
                                            </div>
                                            <div class="ptf-work__meta">
                                                <div class="ptf-work__category">Product
                                                </div>
                                                <h4 class="ptf-work__title"><a href="portfolio-showcase-1.html">Film &amp; Art Festival</a>
                                                </h4>
                                            </div>
                                        </article>
                                    </div>
                                </div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="2" style="width: 468.667px; margin-right: 60px;">
                                    <div>
                                        <!--Portfolio Item-->
                                        <article class="ptf-work ptf-work--style-1">
                                            <div class="ptf-work__media"><a class="ptf-work__link" href="portfolio-showcase-1.html"></a><img src="{% static 'assets/img/portfolio/work-3.png'%} " alt="" loading="lazy">
                                            </div>
                                            <div class="ptf-work__meta">
                                                <div class="ptf-work__category">Branding, Packaging
                                                </div>
                                                <h4 class="ptf-work__title"><a href="portfolio-showcase-1.html">Dark Wishky Wine</a>
                                                </h4>
                                            </div>
                                        </article>
                                    </div>
                                </div></div>
                        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
                    </div>
                </div>
                <!--Spacer-->
                <div class="ptf-spacer" style=" --ptf-xxl: 10rem; --ptf-md: 5rem;"></div>
            </section>

            <section>
                <!--Spacer-->
                <div class="container-xxl">
                    <div class="row">

                        <!--Spacer-->
                        <!-- <div class="ptf-spacer" style=" --ptf-xxl: 6.875rem;"></div> -->
                        <!--Animated Block-->
                        <div class="ptf-animated-block">
                            <h3>Our Approach</h3>
                            <!--Spacer-->
                            <div class="ptf-spacer" style=" --ptf-xxl: 1.875rem;"></div>
                            <p class="fz-18">Encouraging the use of natural systems and processes in design allows for
                                exposure to nature, and in turn, these design approaches improve health and wellbeing.
                            </p>
                        </div>
                        <!--Spacer-->
                        <div class="ptf-spacer" style=" --ptf-xxl: 5.625rem;"></div>
                        <!--Process Steps-->
                        <ul class="ptf-process-steps">
                            <li class="ptf-process-item">
                                <h6 class="ptf-process-item__title">Partnership
                                </h6>
                                <p class="ptf-process-item__text">We believe in design partnership and co-creation. We
                                    like to discuss, plan and be a part of your team.
                                </p>
                            </li>
                            <li class="ptf-process-item">
                                <h6 class="ptf-process-item__title">Clossness
                                </h6>
                                <p class="ptf-process-item__text">We work closely and listen to our clients. We
                                    carefully research them to understand.
                                </p>
                            </li>
                            <li class="ptf-process-item">
                                <h6 class="ptf-process-item__title">Future
                                </h6>
                                <p class="ptf-process-item__text">We believe in strong and continous relationships. We
                                    aim to become a trusted partner of our clients, not just a service provider.
                                </p>
                            </li>
                            <li class="ptf-process-item">
                                <h6 class="ptf-process-item__title">Commitment
                                </h6>
                                <p class="ptf-process-item__text">We commit to clients with international standards,
                                    time efficiency, production, and flexible brand framework development that connects
                                    with users in all environments.
                                </p>
                            </li>
                        </ul>
                    </div>
                   
                </div>
                
                <!--Spacer-->
                <div class="ptf-spacer" style=" --ptf-xxl: 6.25rem; --ptf-md: 3.125rem;"></div>
            </section>             

            {% include "common/our_partner.html" %}

            <section>
                                <!--Spacer-->
              {% include "common/reviews.html" %}
              {% include "common/partner_site.html" %}




            <section>
                <!--Spacer-->
                {% include "common/c.html" %}




             
        </article>
    </main>

 {% endblock content %}
