{% extends 'common/base.html' %}
{% load static %}



{% block title %} Why Choice Us | Whatznot Technology {% endblock title %}


{% block content %}





    <!--Main-->
    <main class="ptf-main">
        <!--Single Post-->
        <article class="ptf-single-post">
            <!--Post Header-->
            <header class="ptf-single-post__header ptf-single-post__header--style-2">
                <div class="container-xxl">
                    <div class="row">
                        <div class="ptf-animated-block">
                            <h1 class="fz-130 fz-90--md has-secondary-font fw-normal">We build top-notch solutions
                                for <span class="has-accent-1">brand, web</span> &amp; <span class="has-accent-1">mobile</span> application</h1>
                        </div>
                    </div>
                </div>
            </header>
            <section class="has-accent-1-background" style="background-image: url({% static 'assets/img/root/service-bubble.png); background-repeat: no-repeat;	background-position: 100% calc(100% + 120px);">
                <!--Spacer-->
                <div class="ptf-spacer" style=" --ptf-xxl: 10rem; --ptf-md: 5rem;"></div>
                <div class="container-xxl">
                    <!--Animated Block-->
                    <div class="ptf-animated-block">
                        <h2 class="h1 large-heading">Our Approach</h2>
                    </div>
                    <!--Spacer-->
                    <div class="ptf-spacer" style=" --ptf-xxl: 7.5rem; --ptf-md: 3.75rem;"></div>
                    <div class="row" style="--bs-gutter-x: 3.75rem; --bs-gutter-y: 7.5rem">
                        <div class="col-xl-4 col-lg-6">
                            <!--Animated Block-->
                            <div class="ptf-animated-block">
                                <!--Approach Box-->
                                <div class="ptf-approach-box" style="--ptf-title-color: var(--ptf-color-white); height: 356px;">
                                    <div class="ptf-approach-box__subtitle">One
                                    </div>
                                    <h3 class="ptf-approach-box__title h1">Research
                                    </h3>
                                    <div class="ptf-approach-box__content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit cras tempus. Libero
                                            ligula, vitae accumsan tortor varius nec. Ut luctus maximus dolor. Nunc sed
                                            diam sit amet urna fermentum accumsan vitae vitae diam.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6">
                            <!--Animated Block-->
                            <div class="ptf-animated-block">
                                <!--Approach Box-->
                                <div class="ptf-approach-box" style="--ptf-title-color: var(--ptf-color-white); height: 356px;">
                                    <div class="ptf-approach-box__subtitle">Two
                                    </div>
                                    <h3 class="ptf-approach-box__title h1">Concept
                                    </h3>
                                    <div class="ptf-approach-box__content">
                                        <p>Donec venenatis consequat libero, quis auctor nunc volutpat quis. Proin at
                                            ipsum id magna dapibus dictum eget lobortis magna. Fusce et ligula non
                                            tellus vulputate condimentum.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6">
                            <!--Animated Block-->
                            <div class="ptf-animated-block">
                                <!--Approach Box-->
                                <div class="ptf-approach-box" style="--ptf-title-color: var(--ptf-color-white); height: 356px;">
                                    <div class="ptf-approach-box__subtitle">Three
                                    </div>
                                    <h3 class="ptf-approach-box__title h1">Development
                                    </h3>
                                    <div class="ptf-approach-box__content">
                                        <p>Vivamus vel sollicitudin sem, id sagittis justo. Nam non magna eleifend,
                                            tempus nisl quis, commod diam. Morbi gravida ut nulla non porttitor.
                                            Suspendis eget arcu eu ex dignissim faucibus. Nullam et luctus tortor.
                                            Quisque eu risus vel turpis tempuss.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6">
                            <!--Animated Block-->
                            <div class="ptf-animated-block">
                                <!--Approach Box-->
                                <div class="ptf-approach-box" style="--ptf-title-color: var(--ptf-color-white); height: 356px;">
                                    <div class="ptf-approach-box__subtitle">Four
                                    </div>
                                    <h3 class="ptf-approach-box__title h1">Test
                                    </h3>
                                    <div class="ptf-approach-box__content">
                                        <p>Suspendisse vel magna vitae nunc consequat eleifend. Aenean iaculis est eget
                                            turpis lacinia egest dictum ipsum sollicitudin.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6">
                            <!--Animated Block-->
                            <div class="ptf-animated-block">
                                <!--Approach Box-->
                                <div class="ptf-approach-box" style="--ptf-title-color: var(--ptf-color-white); height: 356px;">
                                    <div class="ptf-approach-box__subtitle">Five
                                    </div>
                                    <h3 class="ptf-approach-box__title h1">Hand Over
                                    </h3>
                                    <div class="ptf-approach-box__content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit cras tempus. Libero
                                            ligula, vitae accumsan tortor varius nec. Ut luctus maximus dolor. Nunc sed
                                            diam sit amet urna fermentum accumsan vitae vitae diam.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Spacer-->
                <div class="ptf-spacer" style=" --ptf-xxl: 10rem; --ptf-md: 5rem;"></div>
            </section>

            <main class="ptf-main">
        <!--Single Post-->
        <article class="ptf-single-post">
            <section class="ptf-custom--1528">
                <!--Spacer-->
                 <div class="ptf-spacer" style=" --ptf-xxl: 10rem; --ptf-md: 5rem;"></div>

                 <div class="container-xxl">
                     <!--Animated Block-->
                     <div class="ptf-animated-block aos-init aos-animate" data-aos="fade" data-aos-delay="0">
                         <!--Slider Controls-->
                         <div class="ptf-slider-controls ptf-slider-controls--style-2 ptf-testimonial-slider">
                             <div class="ptf-swiper-button-prev ptf-swiper-button-prev--style-2" tabindex="0" role="button" aria-label="Previous slide"><i class="lnil lnil-chevron-left"></i></div>
                             <div class="ptf-swiper-button-next ptf-swiper-button-next--style-2" tabindex="0" role="button" aria-label="Next slide"><i class="lnil lnil-chevron-right"></i></div>
                         </div>
                         <!--Content Slider-->
                         <div class="ptf-content-slider swiper-container swiper-container-initialized swiper-container-horizontal swiper-container-autoheight" data-cursor="" data-navigation-anchor=".ptf-testimonial-slider" data-gap="60" data-loop="enable" data-speed="" data-autoplay="" data-autoplay-speed="" data-slides-centered="" data-slide-settings="{}" data-free-mode="" data-slider-offset="" data-mousewheel="" style="margin: 0px 10%; cursor: grab;">
    <div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(-1280px, 0px, 0px); height: 407px;">
        {% for review in freviews %}
        <div class="swiper-slide" style="width: 1220px; margin-right: 60px;">
            <!-- Testimonial -->
            <div class="ptf-testimonial ptf-testimonial--style-1">
                <div class="ptf-testimonial__content">
                    <p>{{ review.review_details }}</p>
                </div>
                <div class="ptf-testimonial__meta">
                    <h6 class="ptf-testimonial__author">{{ review.author_name }}</h6>
                    <div class="ptf-testimonial__info">
                        <span>Project Name : <a href="#">{{ review.project_name }}</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>




                                     <!--Testimonial-->

                                 </div>
                             </div>
                         <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
                     </div>
                   </div>
             </section>
             <section>
                <div class="container">
                    <!--Spacer-->
                    <div class="ptf-spacer" style=" --ptf-xxl: 7.5rem; --ptf-md: 3.75rem;"></div>
                    <div class="row">
                        <div class="col-xl-10 offset-xl-1">
                            <!--Clients List-->
                            <ul class="ptf-clients-list ptf-clients-list--center ptf-clients-list--style-2" data-columns="5">
    {% for client in client %}
    <li class="ptf-clients-list__item aos-init aos-animate">
        <img src="{{ client.image.url }}" alt="{{ client.name }}" loading="lazy">
    </li>
    {% endfor %}
</ul>

                        </div>
                    </div>
                </div>
                <!--Spacer-->
                <div class="ptf-spacer" style=" --ptf-xxl: 10rem; --ptf-md: 5rem;"></div>
            </section>




            <section>
                <!--Spacer-->
                <div class="ptf-spacer" style=" --ptf-xxl: 10rem; --ptf-md: 5rem;"></div>
                <div class="container-xxl">
                    <div class="row">
                        <div class="col-xl-10">
                            <!--Animated Block-->
                            <div class="ptf-animated-block aos-init aos-animate" data-aos="fade" data-aos-delay="0">
                                <h1 class="large-heading">FAQs</h1>
                                <!--Spacer-->
                                <div class="ptf-spacer" style=" --ptf-xxl: 2.5rem;"></div>
                                <p class="fz-18">Here are the frequently asked questions that we have compiled to help you find the answers to the problems you are wondering.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Spacer-->
                <div class="ptf-spacer" style=" --ptf-xxl: 6.25rem; --ptf-md: 3.125rem;"></div>
            </section>

            <section>
                <div class="container-xxl">
                    <!--Animated Block-->
                    <div class="ptf-animated-block aos-init aos-animate" data-aos="fade" data-aos-delay="0">
                        <!--FAQ-->
                        <div class="ptf-faq">
                            <div class="ptf-faq__category">
                                <h3>Progress</h3>
                            </div>
                            <div class="ptf-faq__content">
                                <div class="ptf-faq__item">
                                    <div class="ptf-faq__question">
                                        <h6>How about our progress?
                                        </h6>
                                    </div>
                                    <div class="ptf-faq__answer">
                                        <p>Ex Portland Pitchfork irure mustache. Eutra fap before they sold out literally. Aliquip ugh bicycle rights actually mlkshk, seitan squid craft beer tempor.
                                        </p>
                                    </div>
                                </div>
                                <div class="ptf-faq__item">
                                    <div class="ptf-faq__question">
                                        <h6>Do you provide a NDA Agreement?
                                        </h6>
                                    </div>
                                    <div class="ptf-faq__answer">
                                        <p>Hoodie tote bag mixtape tofu. Typewriter jean shorts wolf quinoa, messenger bag organic freegan cray.
                                        </p>
                                    </div>
                                </div>
                                <div class="ptf-faq__item">
                                    <div class="ptf-faq__question">
                                        <h6>How many revisions times that I get?
                                        </h6>
                                    </div>
                                    <div class="ptf-faq__answer">
                                        <p>Swag slow-carb quinoa VHS typewriter pork belly brunch, paleo single-origin coffee Wes Anderson. Flexitarian Pitchfork forage, literally paleo fap pour-over. Wes Anderson Pinterest YOLO fanny pack meggings, deep v XOXO chambray sustainable slow-carb raw denim church-key fap chillwave Etsy. +1 typewriter kitsch, American Apparel tofu Banksy Vice.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Spacer-->
                    <div class="ptf-spacer" style=" --ptf-xxl: 5.625rem;"></div>
                    <!--Animated Block-->
                    <div class="ptf-animated-block aos-init aos-animate" data-aos="fade" data-aos-delay="0">
                        <!--FAQ-->
                        <div class="ptf-faq">
                            <div class="ptf-faq__category">
                                <h3>Payment</h3>
                            </div>
                            <div class="ptf-faq__content">
                                <div class="ptf-faq__item">
                                    <div class="ptf-faq__question">
                                        <h6>What payment methods are accepted?
                                        </h6>
                                    </div>
                                    <div class="ptf-faq__answer">
                                        <p>Fashion axe DIY jean shorts, swag kale chips meh polaroid kogi butcher Wes Anderson chambray next level semiotics gentrify yr. Voluptate photo booth fugiat Vice. Austin sed Williamsburg, ea labore raw denim voluptate cred proident mixtape excepteur mustache.
                                        </p>
                                    </div>
                                </div>
                                <div class="ptf-faq__item">
                                    <div class="ptf-faq__question">
                                        <h6>Can I have to deposit?
                                        </h6>
                                    </div>
                                    <div class="ptf-faq__answer">
                                        <p>Art party authentic freegan semiotics jean shorts chia cred. Neutra Austin roof party Brooklyn, synth Thundercats swag 8-bit photo booth. Plaid letterpress leggings craft beer meh ethical Pinterest.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Spacer-->
                    <div class="ptf-spacer" style=" --ptf-xxl: 5.625rem;"></div>
                    <!--Animated Block-->
                    <div class="ptf-animated-block aos-init aos-animate" data-aos="fade" data-aos-delay="0">
                        <!--FAQ-->
                        <div class="ptf-faq">
                            <div class="ptf-faq__category">
                                <h3>Support and <br>Refund</h3>
                            </div>
                            <div class="ptf-faq__content">
                                <div class="ptf-faq__item">
                                    <div class="ptf-faq__question">
                                        <h6>How about Hosting &amp; Domain, Its included in your service?
                                        </h6>
                                    </div>
                                    <div class="ptf-faq__answer">
                                        <p>Keytar cray slow-carb, Godard banh mi salvia pour-over. Slow-carb Odd Future seitan normcore. Master cleanse American Apparel gentrify flexitarian beard slow-carb next level. Raw denim polaroid paleo farm-to-table, put a bird on it lo-fi tattooed Wes Anderson Pinterest letterpress. Fingerstache McSweeney’s pour-over.
                                        </p>
                                    </div>
                                </div>
                                <div class="ptf-faq__item">
                                    <div class="ptf-faq__question">
                                        <h6>How can I cancel or change my project?
                                        </h6>
                                    </div>
                                    <div class="ptf-faq__answer">
                                        <p>Plaid letterpress leggings craft beer meh ethical Pinterest. Art party authentic freegan semiotics jean shorts chia cred. Neutra Austin roof party Brooklyn.
                                        </p>
                                    </div>
                                </div>
                                <div class="ptf-faq__item">
                                    <div class="ptf-faq__question">
                                        <h6>How long for support service?
                                        </h6>
                                    </div>
                                    <div class="ptf-faq__answer">
                                        <p>Art party authentic freegan semiotics jean shorts chia cred. Neutra Austin roof party Brooklyn, synth Thundercats swag 8-bit photo booth. Plaid letterpress leggings craft beer meh ethical Pinterest.
                                        </p>
                                    </div>
                                </div>
                                <div class="ptf-faq__item">
                                    <div class="ptf-faq__question">
                                        <h6>What’s files that I will got?
                                        </h6>
                                    </div>
                                    <div class="ptf-faq__answer">
                                        <p>Plaid letterpress leggings craft beer meh ethical Pinterest. Art party authentic freegan semiotics jean shorts chia cred. Neutra Austin roof party Brooklyn.
                                        </p>
                                    </div>
                                </div>
                                <div class="ptf-faq__item">
                                    <div class="ptf-faq__question">
                                        <h6>How long for support service?
                                        </h6>
                                    </div>
                                    <div class="ptf-faq__answer">
                                        <p>Keytar cray slow-carb, Godard banh mi salvia pour-over. Slow-carb Odd Future seitan normcore. Master cleanse American Apparel gentrify flexitarian beard slow-carb next level. Raw denim polaroid paleo farm-to-table, put a bird on it lo-fi tattooed Wes Anderson Pinterest letterpress. Fingerstache McSweeney’s pour-over.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                
               </div>                
            </section>

            {% include "common/our_partner.html" %}

            {% include "common/reviews.html" %}

            <section>
                <!--Spacer-->
                <div class="ptf-spacer" style=" --ptf-xxl: 12.5rem; --ptf-md: 6.25rem;"></div>
                <div class="container text-center">
                    <div class="d-inline-flex text-start">
                        <!--Animated Block-->
                        <div class="ptf-animated-block aos-init aos-animate">
                            <div class="fz-30">Describe your project</div>
                            <!--Spacer-->
                            <div class="ptf-spacer" style=" --ptf-xxl: 1.25rem;"></div>
                            <div class="fz-130 fz-90--md has-black-color has-secondary-font fw-normal lh-1p1"><a class="ptf-filled-link" href="https://wa.me/+919735151074">WhatsApp Us </a></div>
                            <div class="fz-80 has-black-color"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" style="height:1em" viewBox="0 0 17 17">
                                    <path d="M16 .997V10h-1V2.703L4.683 13l-.707-.708L14.291 1.997H6.975v-1H16z"></path>
                                </svg></div>
                        </div>
                    </div>
                </div>
            </section>  
            <div class="ptf-spacer" style=" --ptf-xxl: 10rem; --ptf-md: 5rem;"></div>             
        </article>
    </main>
{% endblock content %}